<!-- Dasbboard -->
<div class="text-center w-full mt-24">
  <h2 id="dashboard" class="text-xl my-3">Dashboard</h2>
  <p class="text-gray-600 w-64 m-auto text-sm mb-8">What can our project solve polution problem in our country.</p>
  <img src="https://canal-debris.s3.ap-southeast-1.amazonaws.com/botw-asset/banner_map_dashboard.jpg" alt="world connect" class="m-auto inline" style="height: 20rem">
  <p class="text-xs italic text-gray-500 mt-2" >Trash surveillance system around bangkok metropolitan canal.</p>
</div>