<div class="text-center w-full">
  <h2 class="text-xl my-3">Features</h2>
  <p class="text-gray-600 w-64 m-auto text-sm mb-8">The AI - Social media platform for serve problem need garbage in the rivers of Thailand</p>
  <img src="https://canal-debris.s3.ap-southeast-1.amazonaws.com/botw-asset/cropping.jpg" alt="world connect" class="m-auto inline" style="width: 28rem">
</div>
<div class="h-12"></div>
<div class="m-auto grid grid-cols-3 gap-4 w-2/3">
  <div class="text-center">
    <img src="https://canal-debris.s3.ap-southeast-1.amazonaws.com/botw-asset/ic_api.jpg" alt="world connect" class="m-auto inline h-8" />
    <div class="my-2 mt-4 font-semibold">API Services</div>
    <p class="text-xs text-gray-600 w-40 m-auto">Slate helps you see how many more days you need to work to reach your financial goal.</p>
  </div>
  <div class="text-center">
    <img src="https://canal-debris.s3.ap-southeast-1.amazonaws.com/botw-asset/ic_cam.png" alt="world connect" class="m-auto inline h-8" />
    <div class="my-2 mt-4 font-semibold">Upload images</div>
    <p class="text-xs text-gray-600 w-40 m-auto">Slate helps you see how many more days you need to work to reach your financial goal.</p>
  </div>
  <div class="text-center">
    <img src="https://canal-debris.s3.ap-southeast-1.amazonaws.com/botw-asset/ic_label.png" alt="world connect" class="m-auto inline h-8" />
    <div class="my-2 mt-4 font-semibold">Re-labelling</div>
    <p class="text-xs text-gray-600 w-40 m-auto">Slate helps you see how many more days you need to work to reach your financial goal.</p>
  </div>
</div>
    
<div class="w-full text-center mt-16">
    <iframe src="https://drive.google.com/file/d/1-RgKVK-rKFNP7iTQpRLHfAnqyWXFLqPg/preview" width="560" height="320" allow="autoplay" class="rounded-xl shadow-xl inline m-auto"></iframe>    
</div>