<!-- Section -->
<div class="h-20"></div>
  
<!--  Web service  -->
<div class="w-2/3 m-auto grid grid-cols-2 gap-4 mb-16">
  <div id="demo" class="flex flex-col justify-center">
    <h1 class="text-2xl font-semibold mb-3">Web service</h1>
    <p class="text-gray-600">Detect trash by upload image and see some annotate overlay on the picture.</p>
    <a href="https://yolo.botw.life" target="_blank" class="text-center w-32 bg-blue-500 text-white rounded-full py-2 mt-5">Try demo</a>
  </div>
  <img src="https://canal-debris.s3.ap-southeast-1.amazonaws.com/botw-asset/banner_mac.jpg" alt="" />
</div>
  
<!--  Donate image -->
<div class="w-2/3 m-auto grid grid-cols-2 gap-4 mb-20">
  <img src="https://canal-debris.s3.ap-southeast-1.amazonaws.com/botw-asset/banner_drops.jpg" alt="" />
  <div id="donate_image" class="pl-8 flex flex-col justify-center">
    <h1 class="text-2xl font-semibold mb-3">Donate image</h1>
    <p class="text-gray-600">Help us create quality trash dataset by annotate trash image from community</p>
    <a href="https://drive.google.com/drive/folders/1Y4zznajJVh44uBc-GUFm3Q8HkJs9yk1oR23TQaBsv0eeZ-f-eOEJlHMYpQkMU6-n2f_OxrIA?usp=sharing" target="_blank" class="text-center w-32 bg-blue-500 text-white rounded-full py-2 mt-5">Open bucket</a>
  </div>

</div>

<!--  Lebel volunteer  -->
<div class="w-2/3 m-auto grid grid-cols-2 gap-4 mb-20">
  <div id="label_volunteer" class="flex flex-col justify-center">
    <h1 class="text-2xl font-semibold mb-3">Label Volunteer</h1>
    <p class="text-gray-600">Help us create quality trash dataset by annotate trash image from community</p>
    <a href="https://scalabel.botw.life/vendor?project_name=canal-debris" target="_blank" class="text-center w-32 bg-blue-500 text-white rounded-full py-2 mt-5">Go labelling</a>
  </div>
  <img src="https://canal-debris.s3.ap-southeast-1.amazonaws.com/botw-asset/banner_annotate.jpg" alt="" />
</div>
