<div class="text-center w-full mt-24">
  <h2 class="text-xl my-3">Technical</h2>
  <p class="text-gray-600 w-64 m-auto text-sm mb-8">See how does this approach works.</p>
  <img src="https://canal-debris.s3.ap-southeast-1.amazonaws.com/botw-asset/banner_technic.jpg" alt="world connect" class="m-auto inline" style="height: 24rem">
  <p class="text-xs italic text-gray-500" >Our ML Pipeline</p>
  <img src="https://canal-debris.s3.ap-southeast-1.amazonaws.com/botw-asset/yolo.gif" class="rounded-xl m-auto inline mt-8"  style="height: 17rem"/>
  <p class="text-xs mt-5 italic text-gray-500" >Trash detection model train on YoloV5</p>
  <img src="https://canal-debris.s3.ap-southeast-1.amazonaws.com/botw-asset/banner_result.jpg" alt="world connect" class="m-auto inline mt-8" style="height: 24rem">
  <p class="text-xs italic text-gray-500" >Current result on 1class detection is 93.6%</p>
</div>
  
<div class="text-center w-full mt-16">
  <a class="bg-gray-400 text-gray-300 rounded-2xl p-4" href="https://colab.research.google.com/drive/1RshjlzPeP8t8bol-JpxR7B8kaLUCIufj?usp=sharing">See Our Notebook</a> 
  <a class="ml-4 bg-blue-500 text-white rounded-2xl p-4" href="https://drive.google.com/file/d/1RrdhBZCZaXsdCCjgwNYxf7xZdNspJ816/view?usp=sharing">Download YOLOv5 weight</a>
  
</div>