<div style='background: #00000091' class='absolute top-0 left-0 flex items-center px-5 w-screen h-16 text-sm text-white'>
  <a class="mx-3 font-bold text-yellow-500" href="#demo">DEMO</a>
  <a class="mx-3" href="#donate_image">Donate Image</a>
  <a class="mx-3" href="#label_volunteer">Label volunteer</a>
  <a class="mx-3" href="/">Dashboard</a>
  <div class="flex-grow"></div>
  <h1>BOTW</h1>
</div>